.DayApp {

  text-align: center;
  height: 655px;
background-color: #fff;
background-image: url('./images/dayrooster.png');
background-repeat: no-repeat;
background-position: right;
background-size: contain;
}
.NightApp {
  text-align: center;
  height: 655px;
  background-color: #000;
  color: #fff;
  background-image: url("./images/nightrooster.png");
background-repeat: no-repeat;
background-position: right;
background-size: contain;

  
}
.App {
  text-align: center;
  height: 655px;
  background-image: url('./images/dayrooster.png');
background-repeat: no-repeat;
background-position: right;
background-size: contain;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  
}
.MuiSvgIcon-root {
  margin-top: -9px;
  position: absolute;
  padding-left: 2px;
  margin-left: 16px;
 
}
.makeStyles-box-5 {
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  background-color: #fff;
  padding: 2%;
}

.MuiTypography-body1 {
  font-size: 1.5rem !important;
  margin-top: 7px !important;
}
.MuiSvgIcon-root {

  height: 1.5em !important;
}
.App-title {
  font-size: 1.5em;
}
.MuiSvgIcon-root {
  font-size: 2.5rem !important;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  background-color: #fff;
}
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  
  padding: 13px;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
  padding: 0 5%;
}

.DayApp .MuiPaper-root {
  color: rgb(255, 255, 255) !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  background-color: rgba(15, 78, 98, 0.75) !important;
  border-radius: 0px !important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0, 0, 0, 0) !important; 
  
}
.NightApp .MuiPaper-root {
  color: rgba(0, 0, 0, 0.57) !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  background-color: rgba(236, 243, 245, 0.75) !important;
  border-radius: 0px !important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0, 0, 0, 0) !important; 
}

.App .MuiPaper-root {
  color: #fff !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  background-color: rgba(15, 78, 98, 0.75) !important;
  border-radius: 0px !important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0, 0, 0, 0) !important; 
}
.App .MuiPaper-root form {
  
  color: rgba(0, 0, 0,0.57) !important;
}
.DayApp .MuiPaper-root form {
  
  color: rgba(0, 0, 0, 0.87) !important;
}
