.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  
}
.MuiSvgIcon-root {
  margin-top: -9px;
  position: absolute;
  padding-left: 2px;
  margin-left: 16px;
 
}
.makeStyles-box-5 {
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  background-color: #fff;
  padding: 2%;
}

.MuiTypography-body1 {
  font-size: 1.5rem !important;
  margin-top: 7px !important;
}
.MuiSvgIcon-root {

  height: 1.5em !important;
}
.App-title {
  font-size: 1.5em;
}
.MuiSvgIcon-root {
  font-size: 2.5rem !important;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  background-color: rgb(242, 242, 242);
}
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  
  padding: 13px;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
  padding: 0 5%;
}